{% extends "base.html" %}
{% block content %}

	<!-- Footer section -->
<footer>
	<div class="container">
		<div class="row">

              <div class="wow fadeInUp col-md-4 col-sm-4" data-wow-delay="1.3s">
                <h3></h3>
                <p></p>
              </div>  
        
              <div class="wow fadeInUp col-md-4 col-sm-4" data-wow-delay="1.6s">
                <h3>Data Not Available 404</h3>
                <p><a href="/">Go Back</a></p>
              </div> 
        
              <div class="wow fadeInUp col-md-4 col-sm-4" data-wow-delay="1.9s">
                <h3></h3>
                <strong></strong>
                <p></p>
                <strong></strong>
                <p></p>
              </div> 

		</div>
	</div>
</footer>
{% endblock %}
