<!DOCTYPE html>
<html lang="en">
  <head>
    	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="">
  	<meta name="description" content="">

  <title>Humanitarian Web Service</title>

	<!-- stylesheets css -->
 <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

  	 <link href="{{ url_for('static', filename='css/magnific-popup.css') }}" rel="stylesheet">

 <link href="{{ url_for('static', filename='css/animate.min.css') }}" rel="stylesheet">
	 <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">

  <link href="{{ url_for('static', filename='css/nivo-lightbox.css') }}" rel="stylesheet">
  	 <link href="{{ url_for('static', filename='css/default/default.css') }}" rel="stylesheet">

 <link href="{{ url_for('static', filename='css/hover-min.css') }}" rel="stylesheet">
  	 <link href="{{ url_for('static', filename='css/flexslider.css') }}" rel="stylesheet">

	 <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

  	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600' rel='stylesheet' type='text/css'>

</head>

  <body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

<!-- Preloader section -->
<div class="preloader">
	<div class="sk-spinner sk-spinner-pulse"></div>
</div>


    {% block content %}{% endblock %}

<!-- Copyright section -->
<section id="copyright">
  <div class="container">
    <div class="row">

      <div class="col-md-8 col-sm-8 col-xs-8">
        <p>Copyright © 2017 SOA Project</p>
      </div>  

      <div class="col-md-4 col-sm-4 text-right">
        <a href="#home" class="fa fa-angle-up smoothScroll gototop"></a>
      </div>

    </div>
  </div>
</section>

<!-- javscript js -->
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.sticky.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.backstretch.min.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/isotope.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/imagesloaded.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/nivo-lightbox.min.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.flexslider-min.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.parallax.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/smoothscroll.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/wow.min.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/custom.js') }}"></script>

</body>
</html>